.MapLegend {
  background: #fff;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  padding: 10px;
}

.MapLegend > li {
  line-height: 24px;
  list-style: none;
}

.MapLegend .Splotch {
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  position: relative;
    bottom: -3px;
  width: 16px;
  border-radius: 50%;
  opacity: 0.8;
}
