@import "../../index.css";

/*
  CSS Reset
*/

* {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
  Global
*/

body {
  font: 400 13px/21px -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}

html, body, #App, .App {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: var(--medium-font);
  font-weight: var(--heavy-weight);
  line-height: 36px;
  text-transform: uppercase;
}

hr {
  border-top: 1px solid var(--verylight);
}

p {
  padding: 12px 0;
}

/*
  Utilities
*/

.Ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Flex {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.Flex.-SpaceBetween {
  justify-content: space-between;
}

.Flex.-Row > * {
  flex: 1;
  margin-right: 10px;
}

.Flex > .-Flex-0 {
  flex: 0;
}

.Muted {
  color: var(--muted);
}

.HeavyWeight {
  font-weight: var(--heavy-weight);
}

.PullRight {
  float: right;
}

.SmallFont {
  font-size: var(--small-font);
}

.MediumFont {
  font-size: var(--medium-font);
}

.MediumLargeFont {
  font-size: var(--mediumlarge-font);
}

.LargeFont {
  font-size: var(--large-font);
}

/*
  Material-UI Augmentations

  Inline styles are the worst..
*/

.Button {
  color: var(--secondary) !important;
}

.Button.-Primary > label {
  background: var(--secondary) !important;
  color: #fff !important;
}
.Button.-Primary path {
  fill: var(--primary) !important;
}

.Button.-Small > div > span {
  font-size: var(--small-font) !important;
}

.Button.-Subtle {
  color: var(--muted) !important;
}

.DropDownMenu.-Compact button + div {
  display: none !important;
}

.ListItem.-Compact {
  line-height: 0 !important;
  padding-left: 50px !important;
}

.ListItem.-Emphasis {
  font-style: italic;
}

/* list item checkbox */
.ListItem.-Compact > div {
  top: 3px !important;
}
