@import "../../index.css";

.MapTooltip .mapboxgl-popup-content {
  background-color: rgba(0, 0, 0, .8);
}

.MapTooltip .mapboxgl-popup-tip {
  border-top-color: rgba(0, 0, 0, .8) !important;
}

.MapTooltip table {
  font-size: var(--medium-font);
  color: rgba(255, 255, 255, .8);
}

.MapTooltip td {
  padding: 0 10px;
}

.MapTooltip tr :first-child {
  font-weight: var(--heavy-weight);
}

.MapTooltip button  {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: right;
  text-decoration: none;
  font-size: var(--medium-font);
}

.MapTooltip .controls  {
  font-size: var(--medium-font);
  color: rgba(255, 255, 255, .8);
}
