@import "../../index.css";

.CSVUploader {
  align-items: center;
  display: flex;
}

.CSVUploader .UploadMessage {
  color: var(--secondary);
  font-size: 12px;
  height: 24px;
  margin-top: 10px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
