version: "2"

volumes:
  postgres-data:
    driver: local

services:

    backend:
      build:
        context: ./backend
        dockerfile: Dockerfile
      volumes:
        # App files and config
        - ./backend/config/uwsgi.ini:/app/uwsgi.ini:ro
        - ./backend/config/nginx.conf:/etc/nginx/conf.d/nginx.conf:ro
        - ./backend/app/main.py:/app/main.py:ro
        # Library
        - ./backend:/usr/local/lib/python3.6/site-packages/backend:ro
        # Data
        - ./data/:/app/data/:rw
        # Runners
        - ./backend/runners/:/app/runners:ro
        # Linters and Tests
        - ./backend/tests/:/app/tests:ro
        - ./backend/.flake8:/app/.flake8:ro
        - ./backend/.coveragerc:/app/.coveragerc:ro
        - ./backend/lib/:/app/lib:ro
        # Entrypoint
        - ./backend/config/entrypoint.sh:/entrypoint.sh:ro
      environment:
        - POSTGRES_URL=$POSTGRES_URL
      env_file:
        - .env
      ports:
        - 8080:8080

    frontend:
      volumes:
        - ./frontend/src:/usr/src/app/src:rw
        - ./frontend/public:/usr/src/app/public:rw
        - ./shared/:/usr/src/shared:rw
      build:
        context: ./frontend
        dockerfile: Dockerfile
      ports:
        - 80:8081
        - 8081:8081
      env_file:
        - .env

    osrm:
        build:
          context: ./osrm
          dockerfile: Dockerfile
        image: osrm
        volumes:
          - ./data/:/data/:rw
          - ./osrm:/osrm/:ro
        command: sh -c "/osrm/initialize.py"
        ports:
          - 5000:5000

    explorer:
        build:
          context: .
          dockerfile: ./explorer/Dockerfile
        volumes:
          - ./backend:/usr/local/lib/python3.6/site-packages/backend:ro
          - ./explorer/notebooks:/home/jovyan/work/notebooks/:rw
          - ./data/:/home/jovyan/work/data/:rw
        command: bash -c "start-notebook.sh --NotebookApp.token=''"
        env_file:
          - .env
        ports:
          - 8888:8888
        environment:
          - PYTHONPATH=/home/jovyan/work
