@import "mapbox-gl/dist/mapbox-gl.css";
@import "../../index.css";

.popup-container .mapboxgl-popup-content {
  background-color: rgba(0, 0, 0, 0.7);
}

.table-value {
  padding-left: 15;
}

.popup-table {
  font-size: var(--medium-font);
  color: rgba(255, 255, 255, 0.8);
}
