version: 2

jobs:
    build_backend:
        machine:
            docker_layer_caching: true
        steps:
            - checkout
            - run:
                name: Install Docker Compose
                command: |
                    curl -L https://github.com/docker/compose/releases/download/1.11.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
                    chmod +x ~/docker-compose
                    sudo mv ~/docker-compose /usr/local/bin/docker-compose
            - run:
                name: Create env file
                command: |
                  touch .env
                  echo 'POSTGRES_URL=postgres://postgres:example@db.local:5432/network_adequacy' >> .env
                  echo 'POSTGRES_URL_POSTGRES=postgres://postgres:example@db.local:5432/postgres' >> .env
            - run:
                name: Build containers
                command: |
                    docker-compose -f docker-compose.yml -f docker-compose.override.local.yml build backend
            - run:
                name: Run linters
                command: |
                    make backend-lint
            - run:
                name: Run tests
                command: |
                    docker-compose -f docker-compose.yml -f docker-compose.override.local.yml run backend pytest --cov=backend --cov-config .coveragerc --cov-fail-under=68 --cov-report term-missing

    build_frontend:
        machine:
            docker_layer_caching: true
        steps:
            - checkout
            - run:
                name: Install Docker Compose
                command: |
                    curl -L https://github.com/docker/compose/releases/download/1.11.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
                    chmod +x ~/docker-compose
                    sudo mv ~/docker-compose /usr/local/bin/docker-compose
            - run:
                name: Create env file
                command: |
                  touch .env
            - run:
                name: Build containers
                command: 'docker-compose build frontend'
            - run:
                name: Run tests
                command: |
                    make frontend-test

workflows:
    version: 2
    build:
        jobs:
            - build_backend
            - build_frontend
