version: 2

jobs:
    build_backend:
        machine:
            docker_layer_caching: true
        steps:
            - checkout
            - run:
                name: Install Docker Compose
                command: |
                    curl -L https://github.com/docker/compose/releases/download/1.11.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
                    chmod +x ~/docker-compose
                    sudo mv ~/docker-compose /usr/local/bin/docker-compose
            - run:
                name: Create env file
                command: |
                  touch .env
                  echo 'POSTGRES_URL=postgres://postgres:example@db.local:5432/network_adequacy' >> .env
                  echo 'POSTGRES_URL_POSTGRES=postgres://postgres:example@db.local:5432/postgres' >> .env
                  echo 'DB_GRACE_PERIOD=20' >> .env
            - run:
                name: Build containers
                command: |
                    docker-compose -f docker-compose.yml -f docker-compose.override.db.yml build backend
            - run:
                name: Run linters
                command: |
                    make backend-lint
            - run:
                name: Run tests
                command: |
                    make backend-coverage-ci

    build_frontend:
        machine:
            docker_layer_caching: true
        steps:
            - checkout
            - run:
                name: Install Docker Compose
                command: |
                    curl -L https://github.com/docker/compose/releases/download/1.11.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
                    chmod +x ~/docker-compose
                    sudo mv ~/docker-compose /usr/local/bin/docker-compose
            - run:
                name: Create env file
                command: |
                  touch .env
            - run:
                name: Build containers
                command: 'docker-compose build frontend'
            - run:
                name: Run tests
                command: |
                    make frontend-test

    deploy:
        machine:
            docker_layer_caching: true
        steps:
            - run:
                name: CircleCI2 should have all keys from ui loaded into ssh-agent automatically...
                command: |
                    echo "testing testing 123" > testing
                    scp -i brunosp.pem testing ec2-user@ec2-54-218-59-142.us-west-2.compute.amazonaws.com:/tmp/

workflows:
    version: 2
    build:
        jobs:
            - build_backend
            - build_frontend
    build-deploy-qa:
        jobs:
#          - build_backend
#          - build_frontend
          - deploy:
#              requires:
#                - build_backend
#                - build_frontend
              filters:
                branches:
                  only: deploy-qa
