@import "../../index.css";


.LeftPane hr {
  margin: 0 -20px;
}

.LeftPane h3 {
  line-height: 68px;
}

.LeftPane {
  overflow: visible;
  width: calc(var(--leftpane-width)) !important;
  min-width: var(--min-leftpane-width) !important;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px !important;
}

/* silly inline styles... */
.LeftPane > div {
  padding: 20px;
  position: absolute !important;
  width: calc(100%-40px) !important;
}

.LeftPane .DownloadDatasetLink {
  position: absolute !important; /* override material-ui inline style */
    left: 20px;
}

.LeftPane .CountySelector {
  overflow-y: auto;
  position: absolute;
    bottom: 140px;
    right: 20px;
    left: 20px;
    top: 170px;
}

.LeftPane .CSVUploaderSection {
  position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
}

.LeftPane .Drawer {
  padding-bottom: 100px;
}
