/* CSS Reset */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font: 400 13px/21px -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}

html, body, #App, .App {
  height: 100%;
  width: 100%;
}