@import "../../index.css";

.AnalyticsDrawer .DataSources {
  height: 60px;
  margin: 10px 0;
  position: relative;
}
.AnalyticsDrawer .DataSources > div {
  position: absolute;
    left: 100px;
    top: 0;
}
.AnalyticsDrawer .DataSources > div p {
  padding: 0 0 4px;
}

.AnalyticsDrawer .Autocomplete {
  display: inline-block;
  margin-left: 7px;
}
