@import "../../index.css";

.AnalyticsDrawer .DataSources {
  height: 60px;
  margin: 10px 0;
  position: relative;
}
.AnalyticsDrawer .DataSources > div {
  position: absolute;
    left: 100px;
    top: 0;
}
.AnalyticsDrawer .DataSources > div p {
  padding: 0 0 4px;
}

.AnalyticsDrawer .Autocomplete {
  display: inline-block;
  margin-left: 7px;
}

.Selectors .Menu {
  font: 400 13px/21px -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: var(--heavy-weight) !important;
  vertical-align: bottom;
  height: 40px !important;
}

.Selectors body {
  width: 100px;
  vertical-align: middle !important;
}

.SelectorRow * {
  display: inline-block !important;
}
