@import "../../index.css";

.AddDatasetDrawer .MediumWeightMuted {
    display: block;
  }

.ExplainerText ul {
  padding-left: 20px;
}

.AnalyzeButton {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}