@import "../../index.css";

.FilterBar {
  display: flex;
  padding-bottom: 10px;
  position: fixed;
    right: 20px;
    top: calc(var(--header-height) + 20px);
  z-index: 1;
}

.FilterBar .Filter {
  color: var(--muted);
  display: flex;
  flex-direction: column;
}

/* So filter bar doesn't suddenly resize when user changes dropdown */
.FilterBar .Filter.-FixedWidthBig {
  width: 222px;
}

/* So filter bar doesn't suddenly resize when user changes dropdown */
.FilterBar .Filter.-FixedWidthSmall {
  width: 160px;
}

.FilterBar .Filter > span {
  margin: 20px 0 -17px 24px;
}
