@import "../../index.css";

.IconBar {
  background: var(--primary-dark);
  padding-top: 10px;
  position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
  width: var(--iconbar-width);
}

.IconBar li {
  list-style: none;
}

.IconBar li a {
  color: #fff;
  display: block;
  padding: 10px 0 5px;
  position: relative;
  text-align: center;
}

.IconBar li a:before {
  background: var(--primary);
  border-radius: 2px;
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    top: 0;
  transition: opacity .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}

.IconBar li a.-Active:before,
.IconBar li a:hover:before {
  opacity: 1;
}

.IconBar li a svg {
  position: relative; /* keep icon above background rectangle on hover */
}

.IconBar li a path {
  fill: #fff;
}
