@import "../../index.css";

  .Selectors {
    margin: 0px 0 20px;
  }

  .Selectors .Menu {
    font: 400 13px/21px -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, sans-serif !important;
    font-weight: var(--heavy-weight) !important;
    vertical-align: bottom;
    height: 40px !important;
  }
  
  .Selectors body {
    width: var(--analytics-title-width);
    vertical-align: middle !important;
  }
  
  .SelectorRow * {
    display: inline-block !important;
  }

.Menu.MultiSelect > div > div + div {
  width: 55% !important;
}
