@import "../../index.css";

/* Don't cover up Download CSV link */
.LeftDrawer .ZipCodeSelector {
  overflow-y: auto;
  position: absolute;
    bottom: 124px;
    right: 20px;
    left: 20px;
    top: 275px;
}

.LeftDrawer .ClearInputsButton {
  position: absolute !important; /* override material-ui inline style */
    bottom: 70px;
    right: 20px;
}

