@import "../../index.css";

.LeftPane {
  position: fixed;
    bottom: 0;
    left: 0;
    top: 64px;
  width: 300px;
}

.LeftPaneContent {
  position: absolute;
    bottom: 0;
    left: var(--iconbar-width);
    right: 0;
    top: 0;
}

.LeftDrawer {
}

/* silly inline styles... */
.LeftDrawer > div {
  left: 64px !important;
  padding: 20px;
  top: 64px !important;
  width: 320px !important;
}
