@import "../../index.css";

.LeftPane {
  position: fixed;
    bottom: 0;
    left: 0;
    top: 64px;
  width: 400px; /* iconbar-width + leftpane-width + room for box shadow */
}

.LeftPaneContent {
  overflow: hidden;
  position: absolute;
    bottom: 0;
    left: var(--iconbar-width);
    right: 0;
    top: 0;
}

/* silly inline styles... */
.LeftPaneContent > div {
  padding: 20px;
  position: absolute !important;
}


.LeftPaneContent .ClearInputsButton {
  position: absolute !important; /* override material-ui inline style */
    bottom: 13px;
    right: 20px;
}
