@import "mapbox-gl/dist/mapbox-gl.css";
@import "../../index.css";

.MapView {
  background: var(--map-background);
  position: fixed;
    bottom: 0;
    left: var(--leftpane-width);
    right: 0;
    top: var(--header-height);
}

.MapView .MapLegend {
  position: absolute;
    right: 20px;
    top: 112px;
}

.MapView .mapboxgl-map {
  height: 100%;
  width: 100%;
}

.popup-container .mapboxgl-popup-content {
  background-color: rgba(0, 0, 0, 0.7);
}

.table-value {
  padding-left: 15;
}

.popup-table {
  font-size: var(--medium-font-size);
  color: rgba(255, 255, 255, 0.8);
}
