@import "mapbox-gl/dist/mapbox-gl.css";
@import "../index.css";

.MapView {
  position: fixed;
    bottom: 0;
    left: var(--iconbar-width);
    right: 0;
    top: var(--header-height);
}

.MapView .mapboxgl-map {
  height: 100%;
  width: 100%;
}
