<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="<%= htmlWebpackPlugin.options.baseHref %>">
  <link rel="icon" href="images/favicon.png?0">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/encompass-public-data/preview/encompass_texas_healthsites.png"
  />
  <meta property="og:title" content="Bayes Impact - Encompass" />
  <meta name="description" content="Explore access to health-related services with Encompass" />
  <meta property="og:description" content="Explore access to health-related services with Encompass" />
</head>

<body>
  <div id="App"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.1.0/rxjs.umd.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

</body>

</html>
