/*
  Vars (see https://www.figma.com/file/e05MM0u1xX6bjtTeoiY0h3Cw/NA-Analysis)
*/

:root {

  /* colors */
  --primary: #607d8b;
  --primary-dark: #34515e;
  --primary-light: #8eacbb;
  --secondary: #3f51b5;
  --secondary-dark: #002984;
  --secondary-light: #757de8;

  --extralight: rgba(0, 0, 0, 0.06);
  --verylight: rgba(0, 0, 0, 0.12);
  --light: rgba(0, 0, 0, 0.38);
  --muted: rgba(0, 0, 0, 0.54);

  --map-background: #f6f6f4;

  /* dimensions */
  --header-height: 64px;
  --leftpane-width: calc(40%);
  --analytics-title-width: 85px;

  /* fonts */
  --font: 400 var(--medium-font-size)/var(--medium-font-line) Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  
  /* font-size */
  --giant-font-size: 22px;
  --large-font-size: 16px;
  --mediumlarge-font-size: 15px;
  --medium-font-size: 14px;
  --small-font-size: 12px;

  /* line-height */
  --medium-font-line: 21px;
  --large-font-line: 48px;

  /* weights */
  --medium-weight: 400;
  --heavy-weight: 600;
}
