.Header {
  background: #607D8B !important; /* Override material-ui style */
}

.Header a:link {
  text-decoration: none;
  color: white;
}

.Header a:visited {
  text-decoration: none;
  color: white;
}
