/*
  Vars (see https://www.figma.com/file/e05MM0u1xX6bjtTeoiY0h3Cw/NA-Analysis)
*/

:root {

  /* colors */
  --primary: #607d8b;
  --primary-dark: #34515e;
  --primary-light: #8eacbb;
  --secondary: #3f51b5;
  --secondary-dark: #002984;
  --secondary-light: #757de8;

  --verylight: rgba(0, 0, 0, 0.12);
  --light: rgba(0, 0, 0, 0.38);
  --muted: rgba(0, 0, 0, 0.54);

  /* dimensions */
  --header-height: 64px;
  --iconbar-width: 64px;

  /* fonts */
  --mediumlarge-font: 15px;
}
