<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="App"></div>
  <script src="https://cdn.ravenjs.com/3.19.1/raven.min.js" crossorigin="anonymous"></script>
  <script>
    Raven.config('https://c318b98aa75a47d5b402e550a84f8c76@sentry.io/242834').install()
  </script>
</body>
</html>
